# Additional columns were created to refine clustering output

# Columns such as watch_frequency, watch_pattern, Monday-Sunday, 0-23, etc

In [1]:
import pandas as pd
from scipy.stats import variation

In [2]:
df=pd.read_csv("final_for_cluster.csv",index_col=0)

In [4]:
df

,ID,genres,titles,cities,segment,dow,tod,prime_time,prime_day,prefered_genre,...,08,01,00,07,02,09,03,06,04,05
0,train-121672,"Drama:6,Cricket:3469,Wildlife:79","Wild Sex:79,Vintage Dhoni Comes Good with 134:...","delhi:3492,mumbai:64",neg,"5:482,4:3008,7:64","18:1372,21:1862,17:320",21,4,Cricket,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,train-121673,"Drama:48949,Family:9927,Crime:1901,Romance:165...","Naamkarann:369,Ishq:59,Pardes Mein Hai Mera Di...","ahmedabad:56666,mumbai:26989",neg,"1:3257,3:9162,2:12893,5:9237,4:8503,7:25094,6:...","11:7726,10:3521,13:2067,12:3844,20:4608,21:936...",2,7,Drama,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,train-121670,"Cricket:5715,Family:2777,Drama:20873,LiveTV:4,...","India vs Australia 1st Test Hindi:83,India vs ...",navi mumbai:29400,neg,"1:40,3:2700,2:4659,5:7338,4:6641,7:2218,6:5800","11:302,10:1594,13:331,12:133,20:3802,14:3083,2...",9,5,Drama,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,train-121671,"Romance:77,Drama:122,Cricket:3883","Rangoon:77,India A vs England XI:3883,Kaabil:122","chennai:77,navi mumbai:4005,mumbai:0",neg,"1:77,2:3883,5:122","10:122,12:77,15:1800,14:0,16:2083",16,2,Cricket,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,train-121676,TalkShow:8529,Koffee With Karan:8529,"bangalore:5135,krishnarajapura:529,hosur:2864",pos,"1:6150,3:2378","20:529,21:1257,22:4930,23:538,19:1268,18:6",22,1,TalkShow,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175215,train-126324,"Cricket:3787,Reality:57","Local Boy Jadhav Shines with 120:134,India Fin...","khanna:2295,mumbai:1548",neg,"1:1108,5:40,4:220,7:2472","13:1108,15:17,17:209,22:40,16:11,19:128,21:2327",21,7,Cricket,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175216,train-126327,"Cricket:5060,Awards:21,Crime:1872","Savdhaan India:1872,Watch: England Fall of Wic...","lisboa:3756,porto:3198",neg,"1:948,5:2317,7:3688","13:1708,15:279,14:1,17:601,19:154,1:948,3:184,...",21,7,Cricket,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175217,train-126326,"Drama:25428,Family:7","Potol Kumar Gaanwala:1,Kusum Dola:25426,Mem Bo...",kolkata:25436,neg,"1:2562,3:3153,2:5009,5:3875,4:4274,7:3284,6:3278","10:1237,13:968,12:1296,20:1120,14:4654,17:1595...",14,2,Drama,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175218,train-126329,"Drama:50749,Romance:9","Nadaan Parinde:0,Phillauri:9,Yeh Rishta Kya Ke...","chennai:7999,delhi:8945,ahmedabad:33811",neg,"1:11880,3:7673,2:17472,5:2759,4:5122,7:4836,6:...","10:1,13:9913,12:226,20:1837,14:5666,17:3892,16...",13,2,Drama,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175219,train-126328,"Cricket:17417,Reality:14947,Drama:14565,LiveTV...","India vs Australia 2nd Test English:3222,India...",navi mumbai:49286,neg,"1:11425,3:7989,2:6421,5:4460,4:4157,7:7896,6:6928","11:3552,10:1290,13:4147,12:2604,15:2648,21:699...",21,1,Cricket,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
for j in range(0,len(df)):
    y= len(df.loc[j,'dow'].split(","))
    if y==7:
        df.loc[j,'watch_frequency']='Daily watcher'
    elif y>=4 :
        df.loc[j,'watch_frequency']='Frequent watcher'
    else:
        df.loc[j,'watch_frequency']='Medium watcher'

In [8]:
for j in range(0,len(df)):
        df.loc[j,'no_genre_watched']=len(df.loc[j,'genres'].split(","))
df

,ID,genres,titles,cities,segment,dow,tod,prime_time,prime_day,prefered_genre,...,most_watched_pgm,%watched_fav_pgm,no_pgm_watched,total_watch_time,watch_pattern,morning_watch,evening_watch,night_watch,watch_frequency,no_genre_watched
0,train-121672,"Drama:6,Cricket:3469,Wildlife:79","Wild Sex:79,Vintage Dhoni Comes Good with 134:...","delhi:3492,mumbai:64",neg,"5:482,4:3008,7:64","18:1372,21:1862,17:320",21.0,4.0,Cricket,...,India vs England | 2nd ODI | English,82.240360,9.0,3554.0,evening,0.000000,100.000000,0.000000,Medium watcher,3.0
1,train-121673,"Drama:48949,Family:9927,Crime:1901,Romance:165...","Naamkarann:369,Ishq:59,Pardes Mein Hai Mera Di...","ahmedabad:56666,mumbai:26989",neg,"1:3257,3:9162,2:12893,5:9237,4:8503,7:25094,6:...","11:7726,10:3521,13:2067,12:3844,20:4608,21:936...",2.0,7.0,Drama,...,Ghulaam,50.893306,33.0,83635.0,evening,27.425121,38.543672,34.031207,Daily watcher,6.0
2,train-121670,"Cricket:5715,Family:2777,Drama:20873,LiveTV:4,...","India vs Australia 1st Test Hindi:83,India vs ...",navi mumbai:29400,neg,"1:40,3:2700,2:4659,5:7338,4:6641,7:2218,6:5800","11:302,10:1594,13:331,12:133,20:3802,14:3083,2...",9.0,5.0,Drama,...,Chandra Nandni,70.984861,17.0,29396.0,morning,39.706082,37.474486,22.819431,Daily watcher,6.0
3,train-121671,"Romance:77,Drama:122,Cricket:3883","Rangoon:77,India A vs England XI:3883,Kaabil:122","chennai:77,navi mumbai:4005,mumbai:0",neg,"1:77,2:3883,5:122","10:122,12:77,15:1800,14:0,16:2083",16.0,2.0,Cricket,...,India A vs England XI,95.124939,3.0,4082.0,evening,48.971093,51.028907,0.000000,Medium watcher,3.0
4,train-121676,TalkShow:8529,Koffee With Karan:8529,"bangalore:5135,krishnarajapura:529,hosur:2864",pos,"1:6150,3:2378","20:529,21:1257,22:4930,23:538,19:1268,18:6",22.0,1.0,TalkShow,...,Koffee With Karan,100.000000,1.0,8528.0,night,0.000000,35.881801,64.118199,Medium watcher,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175215,train-126324,"Cricket:3787,Reality:57","Local Boy Jadhav Shines with 120:134,India Fin...","khanna:2295,mumbai:1548",neg,"1:1108,5:40,4:220,7:2472","13:1108,15:17,17:209,22:40,16:11,19:128,21:2327",21.0,7.0,Cricket,...,India vs England | 1st ODI | English,41.907740,17.0,3840.0,evening,29.296875,69.661458,1.041667,Frequent watcher,2.0
175216,train-126327,"Cricket:5060,Awards:21,Crime:1872","Savdhaan India:1872,Watch: England Fall of Wic...","lisboa:3756,porto:3198",neg,"1:948,5:2317,7:3688","13:1708,15:279,14:1,17:601,19:154,1:948,3:184,...",21.0,7.0,Cricket,...,India vs England 3rd ODI English,50.841606,10.0,6952.0,evening,28.596087,49.036249,22.367664,Medium watcher,3.0
175217,train-126326,"Drama:25428,Family:7","Potol Kumar Gaanwala:1,Kusum Dola:25426,Mem Bo...",kolkata:25436,neg,"1:2562,3:3153,2:5009,5:3875,4:4274,7:3284,6:3278","10:1237,13:968,12:1296,20:1120,14:4654,17:1595...",14.0,2.0,Drama,...,Kusum Dola,99.964616,4.0,25435.0,morning,38.553175,26.864557,34.582269,Daily watcher,2.0
175218,train-126329,"Drama:50749,Romance:9","Nadaan Parinde:0,Phillauri:9,Yeh Rishta Kya Ke...","chennai:7999,delhi:8945,ahmedabad:33811",neg,"1:11880,3:7673,2:17472,5:2759,4:5122,7:4836,6:...","10:1,13:9913,12:226,20:1837,14:5666,17:3892,16...",13.0,2.0,Drama,...,Mere Angne Mein,97.521475,5.0,50754.0,evening,37.965481,40.089451,21.945068,Daily watcher,2.0
175219,train-126328,"Cricket:17417,Reality:14947,Drama:14565,LiveTV...","India vs Australia 2nd Test English:3222,India...",navi mumbai:49286,neg,"1:11425,3:7989,2:6421,5:4460,4:4157,7:7896,6:6928","11:3552,10:1290,13:4147,12:2604,15:2648,21:699...",21.0,1.0,Cricket,...,Dil Hai Hindustani,29.777561,30.0,49274.0,evening,42.125665,52.307505,5.566830,Daily watcher,7.0

In [18]:
for j in range(0,len(df)):
    y= len(df.loc[j,'genres'].split(","))
    z=[]
    for i in range(0, y):
        x=df.loc[j,'genres'].split(",")[i].split(":")
        z.append(int(x[1]))
    
    if df.loc[j,'no_genre_watched']>1:
        df.loc[j,'variance_in_genre']=variation(z)
    else:
        df.loc[j,'variance_in_genre']=0
df

,ID,genres,titles,cities,segment,dow,tod,prime_time,prime_day,prefered_genre,...,%watched_fav_pgm,no_pgm_watched,total_watch_time,watch_pattern,morning_watch,evening_watch,night_watch,watch_frequency,no_genre_watched,variance_in_genre
0,train-121672,"Drama:6,Cricket:3469,Wildlife:79","Wild Sex:79,Vintage Dhoni Comes Good with 134:...","delhi:3492,mumbai:64",neg,"5:482,4:3008,7:64","18:1372,21:1862,17:320",21.0,4.0,Cricket,...,82.240360,9.0,3554.0,evening,0.000000,100.000000,0.000000,Medium watcher,3.0,1.363711
1,train-121673,"Drama:48949,Family:9927,Crime:1901,Romance:165...","Naamkarann:369,Ishq:59,Pardes Mein Hai Mera Di...","ahmedabad:56666,mumbai:26989",neg,"1:3257,3:9162,2:12893,5:9237,4:8503,7:25094,6:...","11:7726,10:3521,13:2067,12:3844,20:4608,21:936...",2.0,7.0,Drama,...,50.893306,33.0,83635.0,evening,27.425121,38.543672,34.031207,Daily watcher,6.0,1.182060
2,train-121670,"Cricket:5715,Family:2777,Drama:20873,LiveTV:4,...","India vs Australia 1st Test Hindi:83,India vs ...",navi mumbai:29400,neg,"1:40,3:2700,2:4659,5:7338,4:6641,7:2218,6:5800","11:302,10:1594,13:331,12:133,20:3802,14:3083,2...",9.0,5.0,Drama,...,70.984861,17.0,29396.0,morning,39.706082,37.474486,22.819431,Daily watcher,6.0,1.518227
3,train-121671,"Romance:77,Drama:122,Cricket:3883","Rangoon:77,India A vs England XI:3883,Kaabil:122","chennai:77,navi mumbai:4005,mumbai:0",neg,"1:77,2:3883,5:122","10:122,12:77,15:1800,14:0,16:2083",16.0,2.0,Cricket,...,95.124939,3.0,4082.0,evening,48.971093,51.028907,0.000000,Medium watcher,3.0,1.310867
4,train-121676,TalkShow:8529,Koffee With Karan:8529,"bangalore:5135,krishnarajapura:529,hosur:2864",pos,"1:6150,3:2378","20:529,21:1257,22:4930,23:538,19:1268,18:6",22.0,1.0,TalkShow,...,100.000000,1.0,8528.0,night,0.000000,35.881801,64.118199,Medium watcher,1.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175215,train-126324,"Cricket:3787,Reality:57","Local Boy Jadhav Shines with 120:134,India Fin...","khanna:2295,mumbai:1548",neg,"1:1108,5:40,4:220,7:2472","13:1108,15:17,17:209,22:40,16:11,19:128,21:2327",21.0,7.0,Cricket,...,41.907740,17.0,3840.0,evening,29.296875,69.661458,1.041667,Frequent watcher,2.0,0.970343
175216,train-126327,"Cricket:5060,Awards:21,Crime:1872","Savdhaan India:1872,Watch: England Fall of Wic...","lisboa:3756,porto:3198",neg,"1:948,5:2317,7:3688","13:1708,15:279,14:1,17:601,19:154,1:948,3:184,...",21.0,7.0,Cricket,...,50.841606,10.0,6952.0,evening,28.596087,49.036249,22.367664,Medium watcher,3.0,0.897955
175217,train-126326,"Drama:25428,Family:7","Potol Kumar Gaanwala:1,Kusum Dola:25426,Mem Bo...",kolkata:25436,neg,"1:2562,3:3153,2:5009,5:3875,4:4274,7:3284,6:3278","10:1237,13:968,12:1296,20:1120,14:4654,17:1595...",14.0,2.0,Drama,...,99.964616,4.0,25435.0,morning,38.553175,26.864557,34.582269,Daily watcher,2.0,0.999450
175218,train-126329,"Drama:50749,Romance:9","Nadaan Parinde:0,Phillauri:9,Yeh Rishta Kya Ke...","chennai:7999,delhi:8945,ahmedabad:33811",neg,"1:11880,3:7673,2:17472,5:2759,4:5122,7:4836,6:...","10:1,13:9913,12:226,20:1837,14:5666,17:3892,16...",13.0,2.0,Drama,...,97.521475,5.0,50754.0,evening,37.965481,40.089451,21.945068,Daily watcher,2.0,0.999645
175219,train-126328,"Cricket:17417,Reality:14947,Drama:14565,LiveTV...","India vs Australia 2nd Test English:3222,India...",navi mumbai:49286,neg,"1:11425,3:7989,2:6421,5:4460,4:4157,7:7896,6:6928","11:3552,10:1290,13:4147,12:2604,15:2648,21:699...",21.0,1.0,Cricket,...,29.777561,30.0,49274.0,evening,42.125665,52.307505,5.566830,Daily watcher,7.0,1.067309

In [4]:
for j in range(0,len(df)):
    y= len(df.loc[j,'tod'].split(","))
    morning=0
    evening=0
    night=0
    for i in range(0, y):
        x=df.loc[j,'tod'].split(",")[i].split(":")
        if (15>=int(x[0])>=8):
            morning=morning+(int(x[1]))
        elif (21>=int(x[0])>=16):
            evening=evening+(int(x[1]))
        else:
            night=night+(int(x[1]))
    a=max(morning,evening,night)
    if (a==morning):
        
    #if ((morning > evening>night) or (morning>night>evening)):
        df.loc[j,'watch_pattern']='morning'
    elif (a==evening):
    #elif ((evening>morning> night)or(evening>night>morning)):
        df.loc[j,'watch_pattern']='evening'
    else:
        df.loc[j,'watch_pattern']='night'

In [5]:
for j in range(0,len(df)):
    y= len(df.loc[j,'tod'].split(","))
    morning=0
    evening=0
    night=0
    total=0
    for i in range(0, y):
        x=df.loc[j,'tod'].split(",")[i].split(":")
        if (15>=int(x[0])>=8):
            morning=morning+(int(x[1]))
        elif (21>=int(x[0])>=16):
            evening=evening+(int(x[1]))
        else:
            night=night+(int(x[1]))
    total=morning+evening+night
    df.loc[j,'morning_watch']=(morning/total)*100
    df.loc[j,'evening_watch']=(evening/total)*100
    df.loc[j,'night_watch']=(night/total)*100

In [4]:
for j in range(0,len(df)):
    y= len(df.loc[j,'dow'].split(","))
    z=[]
    k=[]
    a=0
    for i in range(0, y):
        x=df.loc[j,'dow'].split(",")[i].split(":")
        z.append(int(x[1]))
        k.append((x[0]))
        a=a+int(x[1])

    for i in range(0,len(k)):
        df.loc[j,k[i]]=(z[i]/a)*100  
df

,ID,genres,titles,cities,segment,dow,tod,prime_time,prime_day,prefered_genre,...,3,2,6,02,01,04,03,06,05,07
0,train-121672,"Drama:6,Cricket:3469,Wildlife:79","Wild Sex:79,Vintage Dhoni Comes Good with 134:...","delhi:3492,mumbai:64",neg,"5:482,4:3008,7:64","18:1372,21:1862,17:320",21.0,4.0,Cricket,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,train-121673,"Drama:48949,Family:9927,Crime:1901,Romance:165...","Naamkarann:369,Ishq:59,Pardes Mein Hai Mera Di...","ahmedabad:56666,mumbai:26989",neg,"1:3257,3:9162,2:12893,5:9237,4:8503,7:25094,6:...","11:7726,10:3521,13:2067,12:3844,20:4608,21:936...",2.0,7.0,Drama,...,10.954220,15.415058,18.523655,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,train-121670,"Cricket:5715,Family:2777,Drama:20873,LiveTV:4,...","India vs Australia 1st Test Hindi:83,India vs ...",navi mumbai:29400,neg,"1:40,3:2700,2:4659,5:7338,4:6641,7:2218,6:5800","11:302,10:1594,13:331,12:133,20:3802,14:3083,2...",9.0,5.0,Drama,...,9.184923,15.849095,19.730576,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,train-121671,"Romance:77,Drama:122,Cricket:3883","Rangoon:77,India A vs England XI:3883,Kaabil:122","chennai:77,navi mumbai:4005,mumbai:0",neg,"1:77,2:3883,5:122","10:122,12:77,15:1800,14:0,16:2083",16.0,2.0,Cricket,...,NaN,95.124939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,train-121676,TalkShow:8529,Koffee With Karan:8529,"bangalore:5135,krishnarajapura:529,hosur:2864",pos,"1:6150,3:2378","20:529,21:1257,22:4930,23:538,19:1268,18:6",22.0,1.0,TalkShow,...,27.884615,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175215,train-126324,"Cricket:3787,Reality:57","Local Boy Jadhav Shines with 120:134,India Fin...","khanna:2295,mumbai:1548",neg,"1:1108,5:40,4:220,7:2472","13:1108,15:17,17:209,22:40,16:11,19:128,21:2327",21.0,7.0,Cricket,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175216,train-126327,"Cricket:5060,Awards:21,Crime:1872","Savdhaan India:1872,Watch: England Fall of Wic...","lisboa:3756,porto:3198",neg,"1:948,5:2317,7:3688","13:1708,15:279,14:1,17:601,19:154,1:948,3:184,...",21.0,7.0,Cricket,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175217,train-126326,"Drama:25428,Family:7","Potol Kumar Gaanwala:1,Kusum Dola:25426,Mem Bo...",kolkata:25436,neg,"1:2562,3:3153,2:5009,5:3875,4:4274,7:3284,6:3278","10:1237,13:968,12:1296,20:1120,14:4654,17:1595...",14.0,2.0,Drama,...,12.396304,19.693336,12.887753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175218,train-126329,"Drama:50749,Romance:9","Nadaan Parinde:0,Phillauri:9,Yeh Rishta Kya Ke...","chennai:7999,delhi:8945,ahmedabad:33811",neg,"1:11880,3:7673,2:17472,5:2759,4:5122,7:4836,6:...","10:1,13:9913,12:226,20:1837,14:5666,17:3892,16...",13.0,2.0,Drama,...,15.118020,34.424873,1.993932,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175219,train-126328,"Cricket:17417,Reality:14947,Drama:14565,LiveTV...","India vs Australia 2nd Test English:3222,India...",navi mumbai:49286,neg,"1:11425,3:7989,2:6421,5:4460,4:4157,7:7896,6:6928","11:3552,10:1290,13:4147,12:2604,15:2648,21:699...",21.0,1.0,Cricket,...,16.212761,13.030684,14.059583,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
for j in range(0,len(df)):
    y= len(df.loc[j,'tod'].split(","))
    z=[]
    k=[]
    a=0
    for i in range(0, y):
        x=df.loc[j,'tod'].split(",")[i].split(":")
        z.append(int(x[1]))
        k.append((x[0]))
        a=a+int(x[1])

    for i in range(0,len(k)):
        df.loc[j,k[i]]=(z[i]/a)*100  
df

,ID,genres,titles,cities,segment,dow,tod,prime_time,prime_day,prefered_genre,...,08,01,00,07,02,09,03,06,04,05
0,train-121672,"Drama:6,Cricket:3469,Wildlife:79","Wild Sex:79,Vintage Dhoni Comes Good with 134:...","delhi:3492,mumbai:64",neg,"5:482,4:3008,7:64","18:1372,21:1862,17:320",21,4,Cricket,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,train-121673,"Drama:48949,Family:9927,Crime:1901,Romance:165...","Naamkarann:369,Ishq:59,Pardes Mein Hai Mera Di...","ahmedabad:56666,mumbai:26989",neg,"1:3257,3:9162,2:12893,5:9237,4:8503,7:25094,6:...","11:7726,10:3521,13:2067,12:3844,20:4608,21:936...",2,7,Drama,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,train-121670,"Cricket:5715,Family:2777,Drama:20873,LiveTV:4,...","India vs Australia 1st Test Hindi:83,India vs ...",navi mumbai:29400,neg,"1:40,3:2700,2:4659,5:7338,4:6641,7:2218,6:5800","11:302,10:1594,13:331,12:133,20:3802,14:3083,2...",9,5,Drama,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,train-121671,"Romance:77,Drama:122,Cricket:3883","Rangoon:77,India A vs England XI:3883,Kaabil:122","chennai:77,navi mumbai:4005,mumbai:0",neg,"1:77,2:3883,5:122","10:122,12:77,15:1800,14:0,16:2083",16,2,Cricket,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,train-121676,TalkShow:8529,Koffee With Karan:8529,"bangalore:5135,krishnarajapura:529,hosur:2864",pos,"1:6150,3:2378","20:529,21:1257,22:4930,23:538,19:1268,18:6",22,1,TalkShow,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175215,train-126324,"Cricket:3787,Reality:57","Local Boy Jadhav Shines with 120:134,India Fin...","khanna:2295,mumbai:1548",neg,"1:1108,5:40,4:220,7:2472","13:1108,15:17,17:209,22:40,16:11,19:128,21:2327",21,7,Cricket,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175216,train-126327,"Cricket:5060,Awards:21,Crime:1872","Savdhaan India:1872,Watch: England Fall of Wic...","lisboa:3756,porto:3198",neg,"1:948,5:2317,7:3688","13:1708,15:279,14:1,17:601,19:154,1:948,3:184,...",21,7,Cricket,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175217,train-126326,"Drama:25428,Family:7","Potol Kumar Gaanwala:1,Kusum Dola:25426,Mem Bo...",kolkata:25436,neg,"1:2562,3:3153,2:5009,5:3875,4:4274,7:3284,6:3278","10:1237,13:968,12:1296,20:1120,14:4654,17:1595...",14,2,Drama,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175218,train-126329,"Drama:50749,Romance:9","Nadaan Parinde:0,Phillauri:9,Yeh Rishta Kya Ke...","chennai:7999,delhi:8945,ahmedabad:33811",neg,"1:11880,3:7673,2:17472,5:2759,4:5122,7:4836,6:...","10:1,13:9913,12:226,20:1837,14:5666,17:3892,16...",13,2,Drama,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175219,train-126328,"Cricket:17417,Reality:14947,Drama:14565,LiveTV...","India vs Australia 2nd Test English:3222,India...",navi mumbai:49286,neg,"1:11425,3:7989,2:6421,5:4460,4:4157,7:7896,6:6928","11:3552,10:1290,13:4147,12:2604,15:2648,21:699...",21,1,Cricket,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
for j in range(0,len(df)):
    y= len(df.loc[j,'genres'].split(","))
    k=[]
    a=0
    for i in range(0, y):
        x=df.loc[j,'genres'].split(",")[i].split(":")
        k.append((x[0]))
        a=a+int(x[1])
    df.loc[j,'mean_genre_time']=(a/len(k))
df

,ID,genres,titles,cities,segment,dow,tod,prime_time,prime_day,prefered_genre,...,01,00,07,02,09,03,06,04,05,mean_genre_time
0,train-121672,"Drama:6,Cricket:3469,Wildlife:79","Wild Sex:79,Vintage Dhoni Comes Good with 134:...","delhi:3492,mumbai:64",neg,"5:482,4:3008,7:64","18:1372,21:1862,17:320",21,4,Cricket,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1184.666667
1,train-121673,"Drama:48949,Family:9927,Crime:1901,Romance:165...","Naamkarann:369,Ishq:59,Pardes Mein Hai Mera Di...","ahmedabad:56666,mumbai:26989",neg,"1:3257,3:9162,2:12893,5:9237,4:8503,7:25094,6:...","11:7726,10:3521,13:2067,12:3844,20:4608,21:936...",2,7,Drama,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13939.500000
2,train-121670,"Cricket:5715,Family:2777,Drama:20873,LiveTV:4,...","India vs Australia 1st Test Hindi:83,India vs ...",navi mumbai:29400,neg,"1:40,3:2700,2:4659,5:7338,4:6641,7:2218,6:5800","11:302,10:1594,13:331,12:133,20:3802,14:3083,2...",9,5,Drama,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4899.666667
3,train-121671,"Romance:77,Drama:122,Cricket:3883","Rangoon:77,India A vs England XI:3883,Kaabil:122","chennai:77,navi mumbai:4005,mumbai:0",neg,"1:77,2:3883,5:122","10:122,12:77,15:1800,14:0,16:2083",16,2,Cricket,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1360.666667
4,train-121676,TalkShow:8529,Koffee With Karan:8529,"bangalore:5135,krishnarajapura:529,hosur:2864",pos,"1:6150,3:2378","20:529,21:1257,22:4930,23:538,19:1268,18:6",22,1,TalkShow,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8529.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175215,train-126324,"Cricket:3787,Reality:57","Local Boy Jadhav Shines with 120:134,India Fin...","khanna:2295,mumbai:1548",neg,"1:1108,5:40,4:220,7:2472","13:1108,15:17,17:209,22:40,16:11,19:128,21:2327",21,7,Cricket,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1922.000000
175216,train-126327,"Cricket:5060,Awards:21,Crime:1872","Savdhaan India:1872,Watch: England Fall of Wic...","lisboa:3756,porto:3198",neg,"1:948,5:2317,7:3688","13:1708,15:279,14:1,17:601,19:154,1:948,3:184,...",21,7,Cricket,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2317.666667
175217,train-126326,"Drama:25428,Family:7","Potol Kumar Gaanwala:1,Kusum Dola:25426,Mem Bo...",kolkata:25436,neg,"1:2562,3:3153,2:5009,5:3875,4:4274,7:3284,6:3278","10:1237,13:968,12:1296,20:1120,14:4654,17:1595...",14,2,Drama,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12717.500000
175218,train-126329,"Drama:50749,Romance:9","Nadaan Parinde:0,Phillauri:9,Yeh Rishta Kya Ke...","chennai:7999,delhi:8945,ahmedabad:33811",neg,"1:11880,3:7673,2:17472,5:2759,4:5122,7:4836,6:...","10:1,13:9913,12:226,20:1837,14:5666,17:3892,16...",13,2,Drama,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25379.000000
175219,train-126328,"Cricket:17417,Reality:14947,Drama:14565,LiveTV...","India vs Australia 2nd Test English:3222,India...",navi mumbai:49286,neg,"1:11425,3:7989,2:6421,5:4460,4:4157,7:7896,6:6928","11:3552,10:1290,13:4147,12:2604,15:2648,21:699...",21,1,Cricket,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7039.714286

In [7]:
for j in range(0,len(df)):
    y= len(df.loc[j,'titles'].split(","))
    k=[]
    a=0
    for i in range(0, y):
        x=df.loc[j,'titles'].split(",")[i].rsplit(":",1)
        k.append((x[0]))
        a=a+int(x[1])
    df.loc[j,'mean_title_time']=(a/len(k))
df

,ID,genres,titles,cities,segment,dow,tod,prime_time,prime_day,prefered_genre,...,00,07,02,09,03,06,04,05,mean_genre_time,mean_title_time
0,train-121672,"Drama:6,Cricket:3469,Wildlife:79","Wild Sex:79,Vintage Dhoni Comes Good with 134:...","delhi:3492,mumbai:64",neg,"5:482,4:3008,7:64","18:1372,21:1862,17:320",21,4,Cricket,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1184.666667,394.777778
1,train-121673,"Drama:48949,Family:9927,Crime:1901,Romance:165...","Naamkarann:369,Ishq:59,Pardes Mein Hai Mera Di...","ahmedabad:56666,mumbai:26989",neg,"1:3257,3:9162,2:12893,5:9237,4:8503,7:25094,6:...","11:7726,10:3521,13:2067,12:3844,20:4608,21:936...",2,7,Drama,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13939.500000,2534.000000
2,train-121670,"Cricket:5715,Family:2777,Drama:20873,LiveTV:4,...","India vs Australia 1st Test Hindi:83,India vs ...",navi mumbai:29400,neg,"1:40,3:2700,2:4659,5:7338,4:6641,7:2218,6:5800","11:302,10:1594,13:331,12:133,20:3802,14:3083,2...",9,5,Drama,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4899.666667,1729.117647
3,train-121671,"Romance:77,Drama:122,Cricket:3883","Rangoon:77,India A vs England XI:3883,Kaabil:122","chennai:77,navi mumbai:4005,mumbai:0",neg,"1:77,2:3883,5:122","10:122,12:77,15:1800,14:0,16:2083",16,2,Cricket,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1360.666667,1360.666667
4,train-121676,TalkShow:8529,Koffee With Karan:8529,"bangalore:5135,krishnarajapura:529,hosur:2864",pos,"1:6150,3:2378","20:529,21:1257,22:4930,23:538,19:1268,18:6",22,1,TalkShow,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8529.000000,8529.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175215,train-126324,"Cricket:3787,Reality:57","Local Boy Jadhav Shines with 120:134,India Fin...","khanna:2295,mumbai:1548",neg,"1:1108,5:40,4:220,7:2472","13:1108,15:17,17:209,22:40,16:11,19:128,21:2327",21,7,Cricket,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1922.000000,225.705882
175216,train-126327,"Cricket:5060,Awards:21,Crime:1872","Savdhaan India:1872,Watch: England Fall of Wic...","lisboa:3756,porto:3198",neg,"1:948,5:2317,7:3688","13:1708,15:279,14:1,17:601,19:154,1:948,3:184,...",21,7,Cricket,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2317.666667,695.100000
175217,train-126326,"Drama:25428,Family:7","Potol Kumar Gaanwala:1,Kusum Dola:25426,Mem Bo...",kolkata:25436,neg,"1:2562,3:3153,2:5009,5:3875,4:4274,7:3284,6:3278","10:1237,13:968,12:1296,20:1120,14:4654,17:1595...",14,2,Drama,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12717.500000,6358.750000
175218,train-126329,"Drama:50749,Romance:9","Nadaan Parinde:0,Phillauri:9,Yeh Rishta Kya Ke...","chennai:7999,delhi:8945,ahmedabad:33811",neg,"1:11880,3:7673,2:17472,5:2759,4:5122,7:4836,6:...","10:1,13:9913,12:226,20:1837,14:5666,17:3892,16...",13,2,Drama,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25379.000000,10151.200000
175219,train-126328,"Cricket:17417,Reality:14947,Drama:14565,LiveTV...","India vs Australia 2nd Test English:3222,India...",navi mumbai:49286,neg,"1:11425,3:7989,2:6421,5:4460,4:4157,7:7896,6:6928","11:3552,10:1290,13:4147,12:2604,15:2648,21:699...",21,1,Cricket,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7039.714286,1642.400000

In [8]:
for j in range(0,len(df)):
    y= len(df.loc[j,'cities'].split(","))
    k=[]
    a=0
    for i in range(0, y):
        x=df.loc[j,'cities'].split(",")[i].split(":")
        k.append((x[0]))
        a=a+int(x[1])
    df.loc[j,'mean_city_time']=(a/len(k))
df

,ID,genres,titles,cities,segment,dow,tod,prime_time,prime_day,prefered_genre,...,07,02,09,03,06,04,05,mean_genre_time,mean_title_time,mean_city_time
0,train-121672,"Drama:6,Cricket:3469,Wildlife:79","Wild Sex:79,Vintage Dhoni Comes Good with 134:...","delhi:3492,mumbai:64",neg,"5:482,4:3008,7:64","18:1372,21:1862,17:320",21,4,Cricket,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1184.666667,394.777778,1778.000000
1,train-121673,"Drama:48949,Family:9927,Crime:1901,Romance:165...","Naamkarann:369,Ishq:59,Pardes Mein Hai Mera Di...","ahmedabad:56666,mumbai:26989",neg,"1:3257,3:9162,2:12893,5:9237,4:8503,7:25094,6:...","11:7726,10:3521,13:2067,12:3844,20:4608,21:936...",2,7,Drama,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13939.500000,2534.000000,41827.500000
2,train-121670,"Cricket:5715,Family:2777,Drama:20873,LiveTV:4,...","India vs Australia 1st Test Hindi:83,India vs ...",navi mumbai:29400,neg,"1:40,3:2700,2:4659,5:7338,4:6641,7:2218,6:5800","11:302,10:1594,13:331,12:133,20:3802,14:3083,2...",9,5,Drama,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4899.666667,1729.117647,29400.000000
3,train-121671,"Romance:77,Drama:122,Cricket:3883","Rangoon:77,India A vs England XI:3883,Kaabil:122","chennai:77,navi mumbai:4005,mumbai:0",neg,"1:77,2:3883,5:122","10:122,12:77,15:1800,14:0,16:2083",16,2,Cricket,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1360.666667,1360.666667,1360.666667
4,train-121676,TalkShow:8529,Koffee With Karan:8529,"bangalore:5135,krishnarajapura:529,hosur:2864",pos,"1:6150,3:2378","20:529,21:1257,22:4930,23:538,19:1268,18:6",22,1,TalkShow,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8529.000000,8529.000000,2842.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175215,train-126324,"Cricket:3787,Reality:57","Local Boy Jadhav Shines with 120:134,India Fin...","khanna:2295,mumbai:1548",neg,"1:1108,5:40,4:220,7:2472","13:1108,15:17,17:209,22:40,16:11,19:128,21:2327",21,7,Cricket,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1922.000000,225.705882,1921.500000
175216,train-126327,"Cricket:5060,Awards:21,Crime:1872","Savdhaan India:1872,Watch: England Fall of Wic...","lisboa:3756,porto:3198",neg,"1:948,5:2317,7:3688","13:1708,15:279,14:1,17:601,19:154,1:948,3:184,...",21,7,Cricket,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2317.666667,695.100000,3477.000000
175217,train-126326,"Drama:25428,Family:7","Potol Kumar Gaanwala:1,Kusum Dola:25426,Mem Bo...",kolkata:25436,neg,"1:2562,3:3153,2:5009,5:3875,4:4274,7:3284,6:3278","10:1237,13:968,12:1296,20:1120,14:4654,17:1595...",14,2,Drama,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12717.500000,6358.750000,25436.000000
175218,train-126329,"Drama:50749,Romance:9","Nadaan Parinde:0,Phillauri:9,Yeh Rishta Kya Ke...","chennai:7999,delhi:8945,ahmedabad:33811",neg,"1:11880,3:7673,2:17472,5:2759,4:5122,7:4836,6:...","10:1,13:9913,12:226,20:1837,14:5666,17:3892,16...",13,2,Drama,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25379.000000,10151.200000,16918.333333
175219,train-126328,"Cricket:17417,Reality:14947,Drama:14565,LiveTV...","India vs Australia 2nd Test English:3222,India...",navi mumbai:49286,neg,"1:11425,3:7989,2:6421,5:4460,4:4157,7:7896,6:6928","11:3552,10:1290,13:4147,12:2604,15:2648,21:699...",21,1,Cricket,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7039.714286,1642.400000,49286.000000

In [9]:
df.to_excel("data_with_additional_columns.xlsx")