Min support of 0.05 was used to build the frequent itemsets and confidence more than 70% was considered to build the recommendation rules.

# Apriori algo is performed for recommendation. Since dataset is big, only customers who has watched more than 15 programs and is not inclined towards cricket(% of their total time is less than 70% for cricket) are chosen for the model

In [ ]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import seaborn as sns
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:

df_org = pd.read_csv('/content/drive/MyDrive/data_with_cluster.csv',index_col=0)

In [ ]:
# for non cricket genre
df_org.drop(df_org[df_org['Cricket']>70].index,inplace=True)
df=df_org[(df_org['no_pgm_watched']>=15)]
df.reset_index(drop=True,inplace=True)
df.head()

             ID  ... clust
0  train-121673  ...     2
1  train-121670  ...     3
2  train-199734  ...     3
3  train-123297  ...     2
4  train-123299  ...     0

[5 rows x 35 columns]

In [ ]:
df=df[['ID','titles']]

In [ ]:
df.shape

(25977, 2)

In [ ]:
df['title_new']=np.NaN
df['duration']=np.NaN

In [ ]:
df['title_new'] = df['title_new'].astype('object')
df['duration'] = df['duration'].astype('object')

In [ ]:
for j in range(0,len(df)):
    y= len(df.loc[j,'titles'].split(","))
    l=[]
    k=[]
    for i in range(0, y):
        x=df.loc[j,'titles'].split(",")[i].rsplit(":",1)
        l.append(int(x[1]))
        k.append((x[0]))
    
    df.at[j,'title_new']=k  
    df.at[j,'duration']=l
df

                 ID  ...                                           duration
0      train-121673  ...  [369, 59, 5863, 223, 1, 835, 16, 6, 749, 936, ...
1      train-121670  ...  [83, 446, 4, 20866, 1, 616, 98, 200, 80, 4, 27...
2      train-199734  ...  [19, 49, 59, 619, 658, 172, 182, 5, 32, 605, 4...
3      train-123297  ...  [5, 3, 41, 18, 116, 449, 4, 25, 0, 174, 5485, ...
4      train-123299  ...  [11, 21, 13, 9753, 6, 10937, 1, 1507, 503, 106...
...             ...  ...                                                ...
25972   train-90195  ...  [1295, 10, 78, 8303, 524, 56, 2460, 9623, 47, ...
25973   train-90196  ...  [2668, 2650, 2792, 11849, 342, 26096, 16761, 9...
25974   train-29508  ...  [5, 4510, 37, 6, 162, 1071, 494, 6, 4394, 922,...
25975  train-126320  ...  [359, 5, 14, 108, 81, 17240, 65, 328, 79, 153,...
25976  train-126328  ...  [3222, 79, 13316, 1050, 214, 504, 6, 2158, 273...

[25977 rows x 4 columns]

In [ ]:
df.head()

             ID  ...                                           duration
0  train-121673  ...  [369, 59, 5863, 223, 1, 835, 16, 6, 749, 936, ...
1  train-121670  ...  [83, 446, 4, 20866, 1, 616, 98, 200, 80, 4, 27...
2  train-199734  ...  [19, 49, 59, 619, 658, 172, 182, 5, 32, 605, 4...
3  train-123297  ...  [5, 3, 41, 18, 116, 449, 4, 25, 0, 174, 5485, ...
4  train-123299  ...  [11, 21, 13, 9753, 6, 10937, 1, 1507, 503, 106...

[5 rows x 4 columns]

In [ ]:
data=[]
cols=['ID','Titles','Duration']
for j in range(0,len(df)):
  for i in range (0, len(df.loc[j,'title_new'])):
    data.append([df.loc[j,'ID'],df.loc[j,'title_new'][i],df.loc[j,'duration'][i]])  
df1=pd.DataFrame(data,columns=cols)

In [ ]:
df1.shape

(788032, 3)

In [ ]:
df1

                  ID                               Titles  Duration
0       train-121673                           Naamkarann       369
1       train-121673                                 Ishq        59
2       train-121673             Pardes Mein Hai Mera Dil      5863
3       train-121673                  Sasural Genda Phool       223
4       train-121673                   Nagarjun Ek Yoddha         1
...              ...                                  ...       ...
788027  train-126328                 SRH Opening Ceremony      1879
788028  train-126328  India vs Australia 4th Test English      2635
788029  train-126328                   Star Screen Awards       640
788030  train-126328                          KXIP vs RPS       684
788031  train-126328     India vs England 3rd ODI English       300

[788032 rows x 3 columns]

In [ ]:
df1['Titles'].nunique()

11074

In [ ]:
basket = (df1
          .groupby(['ID', 'Titles'])['Duration']
          .sum().unstack().reset_index().fillna(0)
          .set_index('ID'))

In [ ]:
basket.head()

Titles         44 - Finch Drills Boult  ...  www_Bhaya_com
ID                                      ...
train-100007                       0.0  ...            0.0
train-100015                       0.0  ...            0.0
train-100023                       0.0  ...            0.0
train-100050                       0.0  ...            0.0
train-100054                       0.0  ...            0.0

[5 rows x 11074 columns]

In [ ]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

In [ ]:
basket_sets = basket.applymap(encode_units)

In [ ]:
basket_sets.head()

Titles         44 - Finch Drills Boult  ...  www_Bhaya_com
ID                                      ...
train-100007                         0  ...              0
train-100015                         0  ...              0
train-100023                         0  ...              0
train-100050                         0  ...              0
train-100054                         0  ...              0

[5 rows x 11074 columns]

In [ ]:
frequent_itemsets1 = apriori(basket_sets, min_support=0.05, use_colnames=True)

In [ ]:
frequent_itemsets1.head()

    support                             itemsets
0  0.083497   (Aus 1st Innings: Fall of Wickets)
1  0.055241  (Aus Turn the Tide to Humble India)
2  0.052008          (Baahubali - The Beginning)
3  0.050699                       (Bol Viru Bol)
4  0.252377                     (Chandra Nandni)

In [ ]:
frequent_itemsets1.shape

(918, 2)

In [ ]:
rules1 = association_rules(frequent_itemsets1, metric="confidence", min_threshold=0.7)
rules1.head()

                           antecedents  ... conviction
0                            (Ghulaam)  ...   2.586544
1                    (Mere Angne Mein)  ...   3.098063
2                         (Naamkarann)  ...   2.689413
3                     (Chandra Nandni)  ...   2.502217
4  (Day 4: India Move in for the Kill)  ...   2.605632

[5 rows x 9 columns]

In [ ]:
rules1.shape

(2348, 9)

In [ ]:
rules1.to_csv("rules.csv")